# Node / Grunt
node_modules/
npm-debug.log
yarn-error.log
.eslintcache

# OS / editor
.DS_Store
._*
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~

# PHP / Composer
vendor/
composer.lock

# Build & test artifacts
moodle-plugin-ci.phar
phpunit.xml
.phpunit.result.cache
phpunit.result.cache
behat.yml

# Local
*.log
*.tar
*.tgz
*.tar.gz
